﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kutomotie 16 B<br />
    00380 Helsinki, Finland<br />
</address>


<address>
    <strong>Web:</strong>   <a href="http://offbeat.fi">offbeat.fi</a><br />
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info(at)offbeat.fi">info(at)offbeat.fi</a><br />
</address>